{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% if search_results %}
        <div class="container">
            <div class="row align-items-center">
                <ul>
                    {% for search_result in search_results %}
                        <li>
                            <a href="{{ search_result.link }}">{{ search_result.title }}</a>
                            <p>
                                {{ search_result.snippet }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
